:root{
    --primary-color: hsl(0, 100%, 49%);
    --text-color: hsl(0, 0%, 100%);
    --bg-color: hsl(0, 0%, 100%);
    --bg-card-color: hsl(0, 2%, 19%);
    --text-tag-color:  hsl(0, 0%, 100%);
    --border-radius: 0.4em;
    --transition: color 0.1s, background-color 0.2s ease-in-out;
    --skills-bar-lenght: 0%;
    --filter-color: invert(90%) sepia(11%) saturate(583%) hue-rotate(216deg) brightness(109%) contrast(105%);
}

*{
    box-sizing: border-box;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

img{
    max-width: 100%;
}

body{
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition);
    font-family: sans-serif;
}

body.dark {
    --text-color: hsl(0, 3%, 66%);
    --bg-color: hsl(0, 3%, 18%);
    --bg-card-color: hsl(0, 0%, 0%);
    --text-tag-color: hsl(0, 0%, 0%);
    --filter-color: invert(60%) sepia(1%) saturate(2002%) hue-rotate(316deg) brightness(91%) contrast(102%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-card-color);
    transition: var(--transition);
}

.switches {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-theme__icon {
    margin-right: 0.5em;
    width: 20px;
    filter: var(--filter-color);
}

.toggle-theme__text{
    font-size: 0.8rem;
}

.languages{
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.lang_button{
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}

.imgDisign{
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    transition: var(--transition);
}

.toggle-hobbie__icon {
    margin-right: 0.5em;
    width: 320px;
    filter: var(--filter-color);
}

.toggle-footer__icon {
    width: 150px;
    filter: var(--filter-color);
    justify-content: center;
    align-items:center
}

.profile_image{
    border-radius: 50%;
    border: 2px solid var(--primary-color);
}

.colors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 100px;
}

.colors__item{
    width: 25px;
    height: 25px;
    border: 2px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.colors__item--blue{
    --primary-color: hsl( 214,84%, 56%);
} 

.colors__item--green{
    --primary-color: hsl(133, 48%, 35%);
} 

.colors__item--purple{
    --primary-color: hsl(310, 74%, 34%);
} 

.colors__item--red{
    --primary-color: hsl(0, 100%, 45%);
} 

.title{
    text-align: center;
    color: var(--primary-color);
    transition: var(--transition);
}

.main{
    display: grid;
    padding: 0.3em;
    gap: 2em;
}

@media screen and (min-width:720px){
    .main{
        grid-template-columns: min-content 1fr;
    }
    
}

.column{
    display: grid;
    gap: 1em;
}

@media screen and (min-width:720px){
    .column--right{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, min-content);
    }
}

.card{
    padding: 1em;
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius);
}

.card__image-container{
    min-width: 320px;
    border-radius: var(--border-radius);
}

.card__header{
    padding: 1em 0;

}

.card__title{
    margin-bottom: 1em;
    font-size: 1.2rem;
}

.card__subtitle{
    font-size: 0.9rem;
    opacity: 0.8rem;
}

.card_link{
    margin-bottom: 0.5em;

}

.card__text{
    font-size: 0.9rem;
    line-height: 1.7;
}

.red-social2 a{
    margin-top: 3em;
    margin-left: 1em;
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: var(--text-color);
    margin-right: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    text-align: center;
    transition: var(--transition);
}


@media screen and (min-width: 720px){
    .card--project{
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column: 1 / -1;
    }
}

.skills{
    padding: 1em 0;
}

.skills__header{
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin-left: auto;
}

.skills_tech{
    margin: 0;
    font-size: 0.8rem;
}

.skills__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.skills__bar,
.skills__bar::after {
    position: relative;
    width: 175px;
    height: 8px;
    background-color: var(--text-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.skills__bar::after {
    content: "";
    position: absolute;
    left: -175px;
    background-color: var(--primary-color);
    transition: var(--transition);
    animation: skills-bar-fill 2s ease-in-out forwards;
}

.skills__bar--10::after {
    --skills-bar-lenght: 10%;
}

.skills__bar--20::after {
    --skills-bar-lenght: 20%;
}

.skills__bar--30::after {
    --skills-bar-lenght: 30%;
}

.skills__bar--40::after {
    --skills-bar-lenght: 40%;
}

.skills__bar--50::after {
    --skills-bar-lenght: 50%;
}

.skills__bar--60::after{
    --skills-bar-lenght: 60%;
}

.skills__bar--70::after {
    --skills-bar-lenght: 70%;
}

.skills__bar--80::after {
    --skills-bar-lenght: 80%;
}

.skills__bar--90::after {
    --skills-bar-lenght: 90%;
}

@keyframes skills-bar-fill {
    to{
        transform: translateX(var(--skills-bar-lenght));
    }
}

.experience{
    display: flex;
    align-items: start;
    margin-bottom: 1em;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.experience__image{
    margin-top: 1em;
    margin-left: 1em;
    max-width: 15%;
    margin-right: 1em;
}

.experience__time{
    font-size: 1em;
    margin-bottom: 0.5em;
}

.experience__job{
    margin: 0;
    margin-bottom: 0.5em;
    color: var(--primary-color);
    transition: var(--transition);
}

.experience__description{
    font-size: .8rem;
    margin-bottom: 1.5em;
}

.hobbie{
    display: flex;
    align-items: start;
    margin-bottom: 1em;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.hobbie__image{
    margin-top: 1em;
    margin-left: 1em;
    max-width: 15%;
    margin-right: 1em;
}

.hobbie__time{
    font-size: 1em;
    margin-bottom: 0.5em;
}

.hobbie__name{
    margin: 0;
    margin-bottom: 0.5em;
    color: var(--primary-color);
    transition: var(--transition);
}

.hobbie__description{
    font-size: .8rem;
    margin-bottom: 1.5em;
}

.project{
    position: relative;
}

@media screen and (min-width: 720px){
    .project{
        margin-left: 2em;
    }
}

.project__tags{
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
    font-size: 0.6rem;
    width: 275px;
}

@media screen and (min-width: 720px){
    .project__tags{
        width: 375px;
        font-size: 0.8rem;
    }
}

.project__tag{
    padding: 0.4em 0.8em;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--text-tag-color);
    font-weight: bolder;
    transition: var(--transition);
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 225px;
    
}

@media screen and (min-width: 720px){
    .buttons{
        position: absolute;
        bottom: 1em;
    }
}

.button{
    width: 100px;
    line-height: 2.5;
    text-align: center;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.button--primary{
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-weight: bolder;
}

.button--ghost{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bolder;
}

.footer{
    background-color: var(--bg-card-color);
    border-color: var(--primary-color);
    border-radius: var(--border-radius);
    margin: auto;
    /*padding: 2rem 2rem;*/
    padding: 1rem 1rem;
}

.footer .group1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px 0px;
}    

@media screen and (max-width: 720px){
    .footer .group1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 10px 1px;
    }
}

.footer .group1 .box figure{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: -0.7em;
}

.footer .group1 .box h2{
    color: var(--primary-color);
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .group1 .box p{
    color: var(--text-color);
    margin-bottom: 10px;
    border: 50%;
}

.footer .group1 .box .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: var(--text-color);
    margin-right: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    text-align: center;
    transition: var(--transition);
}

.footer .group1 .box .red-social a:hover{
    color: var(--bg-card-color);
}

.footer .group2{
    background-color: var(--primary-color);
    padding: 15px;
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    text-shadow:
        0.5px 0.5px 0 color: var(--bg-card-color),  /* Sombra derecha */
        -0.5px 0.5px 0 color: var(--bg-card-color),  /* Sombra izquierda */
        0.5px -0.5px 0 color: var(--bg-card-color), /* Sombra superior */
        -0.5px -0.5px 0 color: var(--bg-card-color); /* Sombra inferior */
}

.footer .group2 small{
    font-size: 15px;
}

.no-margin{
    margin: 0;
}

.icon{
    margin-right: 1rem;
}
